<div class="container">
    <div class="row">
        <!-- Message iteration starts-->
        {% for message in messages %}

        <!-- Start Message -->
        <div class="col-lg-6 col-md-12" style="flex-direction: column;">
            <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-envelope text-white"></i></div>
                <p class="reddit-subject">{{ message.1 | safe }} <!--subject--></p>
                <p class="mb-0 mt-2 font-italic reddit-text">
                    
                    <div class="reddit-text-content">
                        {{ message.0 | safe }}
                    </div>
                    <!--body--></p>
                
            </blockquote>
        </div>
        <!-- End Message -->

        {% endfor %}

<!--Posts-->

        <!-- Posts iteration here-->

        {% for posts in top_year %}
        <!-- Start Post -->
        <div class="col-lg-6 col-md-12" style="flex-direction: column;">
            <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-sticky-note text-white"></i></div>
                
                
                
                <p class="mb-0 mt-2 font-italic reddit-text"><div class="reddit-text-content">
                    {{ posts.0 | safe }}
                </div> <!--body--></p>
                <footer class="blockquote-footer pt-4 mt-4 border-top">
                    {{ posts.2 | safe }} <!--author-->
                </footer>
            </blockquote>
        </div>
        <!-- End Post -->
        {% endfor %}

    </div>
</div>