<html>
<head>
<title>Blah</title>
<meta http-equiv="refresh" content="1;url=https://accounts.spotify.com/authorize?client_id=eab08f62731b44c4a49010295cd3776f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fapi%2Fredirect&response_type=code&scope=user-top-read+user-read-recently-played+user-read-playback-position+user-read-playback-state+user-library-read+user-modify-playback-state+user-read-currently-playing+app-remote-control+streaming&show_dialog=false">
</head>
<body>
<p>
Redirecting to our main site. If you're not redirected within a couple of seconds, click here:<br />
<a href=https://accounts.spotify.com/authorize?client_id=eab08f62731b44c4a49010295cd3776f&redirect_uri=http%3A%2F%2F127.0.0.1%3A8000%2Fapi%2Fredirect&response_type=code&scope=user-top-read+user-read-recently-played+user-read-playback-position+user-read-playback-state+user-library-read+user-modify-playback-state+user-read-currently-playing+app-remote-control+streaming&show_dialog=false>authenticate!</a>
</p>
</body>
</html>