
  :root {
    --green: #fafcfa;
    --white: #ffffff;
    --black: #000000;
    --oac1: #7dc7bb;
    --oac2: #303133;
    --oac3: #ffe599;
    --font-color: var(--font);
  }

  [light-mode=dark] {
    --green: #1b1f1b;
    --white: #ffffff;
    --black: #000000;
    --oac1: #242526;
    --oac2: #303133;
    --oac3: #bfc3cc;
    --font-color: var(--font);
  }

  * {
    font-family: 'Roboto';
    box-sizing: border-box;
  }
/*
  body.index {
    background: var(--bg);
    font-family: 'Roboto';font-size: 22px;
}
*/
h1 {
  text-align: center;
  font-family: 'Roboto';font-size: 40px;
}

h2.index {
  text-align: left;
  font-family: 'Roboto';font-size: 30px;
   --fontColor: var(--font-color);
}

  h4.index {
    margin: 2rem 0rem 1rem;
  }

  p.index {
    --fontColor: var(--font-color);
    font-family: 'Roboto';font-size: 16px;
    margin-bottom: 0.3rem;
  }

   h5.index {
    --fontColor: var(--font-color);
    font-family: 'Roboto';font-size: 40px;
  }

    h6.index {
    --fontColor: var(--font-color);
    font-family: 'Roboto';font-size: 20px;
  }

/*
  .row {
    background-color: var(--oac2);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
  }
 */
  .append {
    margin-top:20px;
  }

  .block {
    display: block;
    border: none;
    background-color: var(--oac3);
    color: var(--bg);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
  }


.block:hover {
  background-color: #ddd;
  color: black;
}

.container.index  {
  display: block;
  background-color: var(--oac1);
}


.openBtn {
  display: flex;
  justify-content: left;
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: var(--oac2);
  color: var(--oac1);;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 52%;
  top: 35%;
  transform: translate(-50%, 5%);
  /*border: 3px solid #999999;*/
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: var(--oac1);
  border: 3px solid var(--nav);
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: var(--oac3);
  color: var(--bg);
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: var(--oac3);
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

.innerbtn{
  background-color: var(--oac2);
  border: none;
  color:#fff;
}

.border {
  border: 0px solid var(--nav)!important;
}

/* Reddit css */

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}
.reddit-text{
  color: black;
}

.reddit-subject{
  color: #141414;
  font-weight:bolder;
  size: 20% !important;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}
