body {
  background: #121212;
   margin-top: 5rem;
    --fontColor: #cbdbd8;
 }

 h1, h2, h3, h4 {
   color: #bfc3cc; 
 }
 
 h5 {
   color: #bfc3cc;
   font-size: 1.0 rem;
 }

 ul {
   margin: 0;
 }
 
 .bg-dark {
   background-color: #181818!important;
 }

 .site-header .navbar-nav .nav-link {
   color: #cbdbd8;
 }
 
 .site-header .navbar-nav .nav-link:hover {
   color: #ffffff;
 }
 
 .site-header .navbar-nav .nav-link.active {
   font-weight: 500;
 }
 
 .content-section {
   background: #242526;
   padding: 10px 20px;
   border: 1px solid #242526;
   border-radius: 3px;
   margin-bottom: 20px;
 }
  
 .redirect {
   text-align: center;
   padding: 100px;
   top: 50%;
   left: 50%;
 }


 .article-title {
   color: #bfc3cc;
 }

 a.article-title:hover {
   color: #428bca;
   text-decoration: none;
 }

 .article-content {
   white-space: pre-line;
 }

 .article-metadata {
   padding-bottom: 1px;
   margin-bottom: 4px;
   border-bottom: 1px solid #e3e3e3
 }

 .article-metadata a:hover {
   color: #333;
   text-decoration: none;
 }

 .article-svg {
   width: 25px;
   height: 25px;
   vertical-align: middle;
 }
